/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Verdana';
  src: url("../fonts/8107167_0-webfont.eot");
  src: url("../fonts/8107167_0-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/8107167_0-webfont.woff") format("woff"), url("../fonts/8107167_0-webfont.ttf") format("truetype"), url("../fonts/8107167_0-webfont.svg#verdanaregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 24, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
body {
  background: #64a0c2 url("../images/bg_top.jpg") center top repeat-x;
}

/* line 28, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.cleafix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}

/* line 35, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.wrapper {
  overflow: hidden;
  max-width: 950px;
  margin: 30px auto 47px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  background: #fff;
}

/* line 43, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.top {
  padding: 16px 10px 12px;
  border-bottom: 1px solid #fff;
  background-color: #e3edf2;
  background-image: -webkit-gradient(linear, to bottom, to top, color-stop(0%, #e3edf2), color-stop(89%, #e3edf2), color-stop(100%, #dae5ea));
  background-image: -webkit-linear-gradient(to bottom, #e3edf2 0%, #e3edf2 89%, #dae5ea 100%);
  background-image: -moz-linear-gradient(to bottom, #e3edf2 0%, #e3edf2 89%, #dae5ea 100%);
  background-image: -o-linear-gradient(to bottom, #e3edf2 0%, #e3edf2 89%, #dae5ea 100%);
  background-image: linear-gradient(to bottom, #e3edf2 0%, #e3edf2 89%, #dae5ea 100%);
}

/* line 49, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.header {
  overflow: hidden;
  margin-bottom: 20px;
}

/* line 53, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.header-left {
  float: left;
  width: 47%;
}
/* line 56, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.header-left .logo {
  display: block;
  text-decoration: none;
  padding-left: 15px;
}
/* line 60, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.header-left .logo span {
  display: block;
}
/* line 63, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.header-left .logo .logo-main {
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.75);
  font-size: 26px;
  font-family: Verdana, Arial, sans-serif;
  font-weight: normal;
  line-height: 35px;
  color: #4584a7;
}
/* line 71, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.header-left .logo .logo-aside {
  font-size: 14px;
  text-transform: uppercase;
  font-family: "Mariad Pro",Arial,sans-serif;
  line-height: 35px;
  color: #3b799c;
}
/* line 79, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.header-left .searching-form {
  padding-left: 13px;
}
/* line 81, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.header-left .searching-form input[type="text"] {
  width: 282px;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #c3d4dd;
  background-color: #f2f1f2;
  -webkit-box-shadow: white 0 0 0 2px inset, #dbe7ee -2px -2px 1px;
  -moz-box-shadow: white 0 0 0 2px inset, #dbe7ee -2px -2px 1px;
  box-shadow: white 0 0 0 2px inset, #dbe7ee -2px -2px 1px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f2f1f2), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#f2f1f2, #ffffff);
  background-image: -moz-linear-gradient(#f2f1f2, #ffffff);
  background-image: -o-linear-gradient(#f2f1f2, #ffffff);
  background-image: linear-gradient(#f2f1f2, #ffffff);
}
/* line 91, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.header-left .searching-form input[type="submit"] {
  padding: 0 10px;
  line-height: 30px;
  border: 1px solid #e28a0d;
  background-color: #ffdd67;
  -webkit-box-shadow: #ffefb8 0 0 0 1px inset;
  -moz-box-shadow: #ffefb8 0 0 0 1px inset;
  box-shadow: #ffefb8 0 0 0 1px inset;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffdd67), color-stop(100%, #ffb926));
  background-image: -webkit-linear-gradient(#ffdd67, #ffb926);
  background-image: -moz-linear-gradient(#ffdd67, #ffb926);
  background-image: -o-linear-gradient(#ffdd67, #ffb926);
  background-image: linear-gradient(#ffdd67, #ffb926);
  font-size: 12px;
  font-family: Verdana, Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  text-shadow: #d48a09 1px 0px, #d48a09 1px 1px, #d48a09 0px 1px, #d48a09 -1px 1px, #d48a09 -1px 0px, #d48a09 -1px -1px, #d48a09 0px -1px, #d48a09 1px -1px, #d48a09 0 0 3px, #d48a09 0 0 3px, #d48a09 0 0 3px, #d48a09 0 0 3px, #d48a09 0 0 3px, #d48a09 0 0 3px, #d48a09 0 0 3px, #d48a09 0 0 3px;
}

/* line 106, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.header-right {
  float: right;
  width: 50%;
  height: 78px;
  border: 8px solid #d0dee5;
  background: #fff;
}

/* line 113, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.top-menu {
  padding: 5px;
  margin-bottom: 20px;
  background: #cae3ef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 118, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.top-menu li {
  display: inline-block;
  margin-right: 7px;
}
/* line 121, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.top-menu li a {
  display: block;
  width: 118px;
  line-height: 25px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #d1e7f1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d1e7f1), color-stop(100%, #fbfbfb));
  background-image: -webkit-linear-gradient(#d1e7f1, #fbfbfb);
  background-image: -moz-linear-gradient(#d1e7f1, #fbfbfb);
  background-image: -o-linear-gradient(#d1e7f1, #fbfbfb);
  background-image: linear-gradient(#d1e7f1, #fbfbfb);
  border: 1px solid #fff;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #64a0c2;
}
/* line 136, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.top-menu li a.active-menu-item {
  line-height: 26px;
  border-bottom: none;
  background-color: #cae3ef;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a9ccde), color-stop(100%, #cae3ef));
  background-image: -webkit-linear-gradient(#a9ccde, #cae3ef);
  background-image: -moz-linear-gradient(#a9ccde, #cae3ef);
  background-image: -o-linear-gradient(#a9ccde, #cae3ef);
  background-image: linear-gradient(#a9ccde, #cae3ef);
}

/* line 146, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.articles-tab .tab-buttons li {
  display: inline-block;
  margin-right: -4px;
}
/* line 149, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.articles-tab .tab-buttons li a {
  display: block;
  width: 150px;
  line-height: 25px;
  background-color: #316b8d;
  text-decoration: none;
  text-align: center;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  -moz-border-radius-topleft: 8px;
  -webkit-border-top-left-radius: 8px;
  border-top-left-radius: 8px;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #397699), color-stop(100%, #316b8d));
  background-image: -webkit-linear-gradient(#397699, #316b8d);
  background-image: -moz-linear-gradient(#397699, #316b8d);
  background-image: -o-linear-gradient(#397699, #316b8d);
  background-image: linear-gradient(#397699, #316b8d);
}
/* line 162, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.articles-tab .tab-buttons li a:hover {
  cursor: pointer;
}
/* line 166, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.articles-tab .tab-buttons li .active-tab-button {
  background-color: #1c597c;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1c597c), color-stop(100%, #306a8c));
  background-image: -webkit-linear-gradient(#1c597c, #306a8c);
  background-image: -moz-linear-gradient(#1c597c, #306a8c);
  background-image: -o-linear-gradient(#1c597c, #306a8c);
  background-image: linear-gradient(#1c597c, #306a8c);
}

/* line 174, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.tabs .tab-content {
  display: none;
  padding: 3px;
  overflow: hidden;
  background: #39779a;
  -moz-border-radius-topright: 8px;
  -webkit-border-top-right-radius: 8px;
  border-top-right-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  -webkit-border-bottom-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
/* line 182, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.tabs .tab-content .left-tab-content {
  float: left;
  width: 46%;
  padding: 0 2% 2%;
}
/* line 186, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.tabs .tab-content .left-tab-content .article-title {
  color: #ffffff;
}
/* line 190, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.tabs .tab-content .right-tab-content {
  float: right;
  width: 46%;
  padding: 0 2% 2%;
  background: #4481a5;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* line 198, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.tabs .tab-content .article-title {
  line-height: 44px;
  font-size: 24px;
  font-family: Verdana, Arial, sans-serif;
  color: #b0c7d5;
}
/* line 204, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.tabs .tab-content .article-content {
  line-height: 24px;
  font-size: 11px;
  font-family: Verdana, Arial, sans-serif;
  color: white;
}
/* line 211, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.tabs .no-script {
  display: block;
}
/* line 214, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.tabs .active-tab {
  display: block;
}

/* line 218, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.bottom {
  border-top: 1px solid #e0e0e0;
  padding: 10px 17px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f3f3f3), color-stop(20%, #ffffff), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(top, #f3f3f3 0%, #ffffff 20%, #ffffff 100%);
  background-image: -moz-linear-gradient(top, #f3f3f3 0%, #ffffff 20%, #ffffff 100%);
  background-image: -o-linear-gradient(top, #f3f3f3 0%, #ffffff 20%, #ffffff 100%);
  background-image: linear-gradient(top, #f3f3f3 0%, #ffffff 20%, #ffffff 100%);
}

/* line 223, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.featured-post {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
  border-radius: 9px;
  padding: 5px;
  overflow: hidden;
  background: #fff;
}
/* line 228, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.featured-post .posts-title {
  padding-left: 10px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 30px;
  line-height: 48px;
}
/* line 233, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.featured-post .posts-title a {
  text-decoration: none;
  color: #64a0c2;
}

/* line 239, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.posts-header {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
}
/* line 243, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.posts-header .post-img {
  float: left;
  max-width: 385px;
  max-height: 122px;
  width: 50%;
  margin-right: 35px;
  border: 5px solid #f7f7f7;
}
/* line 250, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.posts-header .post-img img {
  width: 100%;
  height: 100%;
}
/* line 255, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.posts-header .post-content {
  overflow: hidden;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #bbb;
  letter-spacing: 1.5px;
  max-height: 126px;
  text-overflow: ellipsis;
}

/* line 266, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.posts-footer {
  padding: 0 2px;
  overflow: hidden;
}
/* line 269, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.posts-footer .posts-footer-left {
  float: left;
  width: 61%;
  min-height: 307px;
  padding: 20px 1% 0 0;
  border-right: 1px solid #e5e5e5;
}
/* line 275, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.posts-footer .posts-footer-left .author-avatar {
  float: left;
  width: 102px;
  height: 102px;
  margin-right: 12px;
  background: #f7f7f7;
}
/* line 282, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.posts-footer .posts-footer-left .post-footer-title a {
  font-family: Verdana, Arial, sans-serif;
  line-height: 20px;
  color: #64a0c2;
  font-size: 18px;
  text-decoration: none;
}
/* line 289, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.posts-footer .posts-footer-left .post-info {
  padding-left: 132px;
  line-height: 26px;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  font-style: italic;
  color: #888;
}
/* line 297, D:/Temp/Home-Work-11/Bluemist/sass/screen.scss */
.posts-footer .posts-footer-left .post-content {
  line-height: 18px;
  max-height: 54px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #bbbbbb;
  letter-spacing: 1.5px;
  font-weight: lighter;
}
